{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <br>
                <div class="alert alert-dark" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                {% if meep.user.profile.profile_image %} {% comment %} meep model has a user field which is a foreign key to profile model {% endcomment %}
                                    <img src="{{ meep.user.profile.profile_image.url }}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">
                                    {% else %}
                                        <img src="{% static 'images/profile_icon.jpg' %}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">
                                {% endif %}
                            </div>
                        
                            <div class="col-10">
                                <b>{{ meep.body }}</b><br>
                                
                                <small class="text-muted">
                                    {{ meep.created_at }} By
                                    @{{ meep.user.username }}
                                    - {{meep.number_of_likes}} 
                                    {% if user in meep.likes.all %}
                                        <a href="{% url 'meep_like' meep.id %}"> <i class="fa fa-heart" style="font-size:15px; color:red"></i> </a>
                                    {% else %}    
                                        <a href="{% url 'meep_like' meep.id %}"> <i class="fa fa-heart-o" style="font-size:15px; color:gray"></i> </a>
                                    {% endif %}
                                </small>
                            </div>    <br><br>
                        </div>
                    </div>
                </div><br>

        </div>

        <div class="col-4">
            <br><br><br>
            
        </div>
    </div>
</div>
{% endblock content %}

