{% extends 'base.html' %} 

{% block content %}
    <div class="ol-md-6 offset-md-3">
        <h1>Update User</h1>
        <br>
        <form action="" method="POST" enctype="multipart/form-data"> {% comment %} enctype tells us that we also need to handle other methods like FILES {% endcomment %}
            {% csrf_token %}
            {{ user_form.as_p }}
            <br>
            {{ profile_form.as_p }}
            <br><br>
            <button type="submit" class="btn btn-secondary">Update</button>
        
        </form>
    </div>
{% endblock content %}
